@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

button {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul a {
  text-decoration: none;
  color: rgba(74,74,74,0.7);
  font-weight: bold;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.right-links, .left-links {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  background-color: #eee;
}